body{
  background-color: rgb(17, 27, 36);
  color: #fff;
  padding: 10px;
}

a:link{
  text-decoration: none;
  color: #fff;
}
a:visited{
  text-decoration: none;
}

.menu-text{
  margin-left: 10px;

}

.mods{
  margin-top: 10px;

}

.btn-send-mod{
  background-color: black;
  color: #fff;
  padding: 10px ;

}

.btn-send-mod:hover{
  background-color: #0fd149;
}

